/*=======================================*

                css reset

*========================================*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*=======================================*

                  global

*========================================*/

*, *:before, *:after {
   box-sizing: border-box;
 }

.clearfix::after,
.clearfix::before {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

body {
  background: #fff;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.center {
  text-align: center;
  padding-bottom: 3%;
}

/*=======================================*

                  typography

*========================================*/

a {
  font-size: .6em;
  text-decoration: none;
  color: #fff;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 1.9em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1em;
}

p {
  font-size: .8em;
}

small {
  font-size: .8em;
  color: #aaa;
}

strong {
  text-transform: uppercase;
}

/*=======================================*

                  header

*========================================*/

header {
  padding: 5% 0;
  background: #5385C1;
}

.logo-a {
  font-size: 1em;
}

.navbar {
  float: right;
}

.logo {
  float: left;
  color: #fff;
}

li {
  display: inline-block;
  padding-left: 25px;
}

/*=======================================*

                  articles

*========================================*/

.art p {
  display: inline-block;
  padding: 15px 0;
  color: #aaa;
}

.art a {
  display: inline-block;
  background: #5385C1;
  padding: 15px 20px;
}



/*=======================================*

                first section

*========================================*/

.sec-first {
  background: #5385C1;
  padding-top: 10%;
  padding-bottom: 15%;
  text-align: center;
}

.sec-first h1{
  padding: 3%;
}

/*=======================================*

                  second section

*========================================*/

.sec-second {
  color: #5385C1;
  padding:10% 0;
}

.art-1 {
  width: calc(100%/3);
  float: left;
  padding: 0 3%;
}

.art-1:first-child {
  padding-left: 0;
}

.art-1:last-child {
  padding-right: 0;
}

/*=======================================*

                  third section

*========================================*/

.sec-third {
  background: #5385C1;
  text-align: center;
  padding: 10% 0;
}

.box{
  padding-top: 10%;
}

.intro {
  width: calc(85%/4);
  float: left;
  margin: 2.5%;
  padding: 2%;
  border: 1px solid #fff;
}

.intro:first-child {
  margin-left: 0;
}

.intro:last-child {
  margin-right: 0;
}

.intro h4 {
  padding-bottom: 5px;
}

.intro img {
  border-radius: 50%;
  margin-bottom: 20px;
}

/*=======================================*

                  section fourth

*========================================*/

.sec-fourth {
  color: #5385C1;
  padding: 10% 0;
}

.art-2 {
  width: 50%;
  float: left;
  padding: 3%;
}

.art-2-1 {
  padding-left: 0;
}

.art-2-2 {
  padding-right: 0;
}

.art-2 img {
  padding: 5% 0;
}

.sec-fourth p {
  color: #aaa;
}

/*=======================================*

                  footer

*========================================*/

.footer {
  border-top: 1px solid #aaa;
  padding: 3%;
}

.fab,
.fas {
  font-size: 1.7em;
  color: #5385C1;
}

.foot {
  display: inline-block;
  width: 50%;
}

.f-text {
  text-align: left;
}

.f-icon {
  text-align: right;
}
